
p
{font-size:2.7em ;
	
	color: red;
}
h1
{
	font-size: 3.5em;
	text-align: center;
}
body
{
	background-image:url( https://images.toucharger.com/img/graphiques/fonds-d-ecran/sport/danse/mixage-de-danse.72669.jpg);
}